* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

html {
   font-size: 62.5%;
  
}

body{
 font-family: sans-serif;
}

.flex{
  display: flex;
}
.active{
 top:50%;
  transform:translate(-50%,-50%) !important;

}


@media(max-width:75em){
  html{
   /* 9px /16px= */
  font-size:56.25%;  
}

}
@media(max-width:44em){
  html{
   /* 9px /16px= */
  font-size:50%;  
}
.last-c{
  width:100%;
  position: relative;
  right: 4rem;
  min-width: 10rem;
}
}
@media(max-width:31.25em){
  html{
   /* 9px /16px= */
  font-size:42%;  
}
}




.notshow{
  transform:translateX(-100%);
}
.show{
  transform: translateX(0);

}
.bubble-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: red;
  animation: bubble 1s ease-in-out infinite;
}

.bubble:nth-child(2) {
  animation-delay: 0.1s;
}

.bubble:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bubble {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

